[settings]
known_third_party = aenum,aiofiles,bs4,dependency_injector,dotenv,enochecker_core,flask,flask_restful,httpx,jsons,matplotlib,numpy,paramiko,pyfakefs,pytest,requests,rich,scipy,selenium,tenacity,webdriver_manager
